.C_Modal_style h2 {
    text-align: center;
    border-bottom: 3px solid gray;
    margin-bottom: 20px;
}
.C_Modal_style {
    text-align: center;
    height: 100%;
    font-family: 'Lilita One', cursive;
    padding: 30px;
    border: 10px solid blue;
}


.training_list_styles {
    font-size: 1.4em;
    border-bottom: 1px solid gray;
}
