@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}



:root {
  --text-color: black;
  --text-color-light: #ccc;
  --border-color: #eee;
}

.row {
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
    width: 100%;
}


.day_calendar {
  width: 80%;
  margin: auto;
}
.calendar_day {
    width: 100%;
    border: 1px solid black;
}
.col-center {
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  
.day_calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid black;
}

.day_calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.day_calendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: black;
}

.day_calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.day_calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.day_calendar .days {
  text-transform: uppercase;
  font-weight: bold;
  color:black;
  font-size: 70%;
  border-bottom: 1px solid var(--border-color);
}

.day_calendar .body .cell {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--border-color);
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: 0.25s ease-out;
}

.day_calendar .body .cell:hover {
  background: gainsboro;
  transition: 0.5s ease-out;
}

.day_calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image-slice: 1;
}

.day_calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.day_calendar .body .cell .number {
  position: absolute;
  font-size: 30px;
  top: .35em;
  right: .35em;
  font-weight: bold;
}

.day_calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.day_calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}

.daily_box {
  font-family: 'Lilita One', cursive;
  width: 50%;
  float: left;
  min-height: 300px;
}
