@import url('https://fonts.googleapis.com/css?family=Lilita+One|Monoton');

.App {
  text-align: center;
  padding-bottom: 100px;
  border-radius: 5px;
  background-color:black ;
}


.header_text {
  font-size: 60px;
  color: #fff;
  animation: glow 2s ease-in-out infinite alternate;
  font-family: 'Monoton', cursive;
}

.App-header {
  background-color: black;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav_style {
  background-color: #1b1b1b;
  border: 2px solid #FF1177;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #FF1177, 0 0 50px #FF1177;
  margin: 0.5%;
}

.nav-link:hover {
  color: #FF1177;
  animation: none;
}

.nav-link {
  color: #fff;
  font-family: 'Monoton', cursive;
  font-size: 30px;
  animation: neon 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px lime, 0 0 40px lime, 0 0 50px lime, 0 0 60px lime, 0 0 70px lime;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #00CC99, 0 0 40px #00CC99, 0 0 50px #00CC99, 0 0 60px #00CC99, 0 0 70px #00CC99, 0 0 80px #00CC99;
  }
}


@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

